name: Maven CI

on:
  workflow_dispatch: { }
  push:
    branches-ignore:
      - 'renovate/*'
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.2

      - name: Set up JDK
        uses: actions/setup-java@v5.2.0
        with:
          java-version: 17
          distribution: adopt-openj9

      - name: Build with Maven
        run: ./mvnw --show-version --errors --batch-mode --no-transfer-progress verify -Pdocs #,dockerize

  build-all:
    needs: build

    strategy:
      fail-fast: true

      matrix:
        os: [ ubuntu-latest, windows-latest ]
        java:
          # 17
          #- version: 17
          #  dist: semeru
          - java-version: 17
            distribution: temurin

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.2

      - name: Set up JDK
        uses: actions/setup-java@v5.2.0
        with:
          java-version: ${{ matrix.java.java-version }}
          distribution: ${{ matrix.java.distribution }}

      - name: Build with Maven
        run: ./mvnw --show-version --errors --batch-mode --no-transfer-progress verify -Pdocs
